@using MudBlazor
@using System.Runtime.Versioning
@using Microsoft.Graph.Models
@using NikoNikoTeams.Entities


<div>
  <MudGrid>
    @foreach (var item in NikoNikoItems)
    {
      <MudTooltip Arrow="true"
                  Text="@item.ImageName"
                  Class="p-0 ml-0 mt-4"
                  Placement="Placement.Top">
        <MudStack AlignItems="AlignItems.Center"
                  Row="true"
                  Spacing="0"
                  Style="padding-top: 0px">

          <MudImage Alt="@item.ImageName"
                    Height="50"
                    Src="@item.ImageSource"
                    Width="50" />
        </MudStack>
      </MudTooltip>
    }
  </MudGrid>
  
  <MudDataGrid Items="@NikoNikoItems.Take(4)">
    <Columns>
      <PropertyColumn Property="x => x.Number" Title="Monday" />
      <PropertyColumn Property="x => x.Sign" />
      <PropertyColumn Property="x => x.Name" />
      <PropertyColumn Property="x => x.Position" />
      <PropertyColumn Property="x => x.Molar" Title="Molar mass" />
    </Columns>
  </MudDataGrid>
  
  


</div>
