@using MudBlazor
@using System.Runtime.Versioning



<div>
  <MudGrid>
    @foreach (var item in NikoNikoItems)
    {
      <MudPaper Class="pl-4 pt-4 pr-4 pb-4 ma-1"
                Elevation="8" 
                MinWidth="250"
                Style="width: 175px">
        <MudTooltip Arrow="true"
                    Text="@item.Definition"
                    Class="p-0 ml-0 mt-4"
                    Placement="Placement.Top">
          <MudStack AlignItems="AlignItems.Center"
                    Row="true"
                    Spacing="0"
                    Style="padding-top: 0px">

            <MudImage Alt="@item.ImageName"
                      Height="50"
                      Src="@item.ImageSource"
                      Width="50" />

            <MudText Class="pl-2">@item.ImageName</MudText>

          </MudStack>
        </MudTooltip>
      </MudPaper>
    }

  </MudGrid>
</div>
