@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject TeamsFx teamsfx
@inject TeamsUserCredential teamsUserCredential
@inject MicrosoftTeams MicrosoftTeams
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager

@if (_isLoading)
{
  <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <FluentProgressRing />
  </div>
}
else
{
  <div class="welcome page">
    <div class="narrow page-padding">
      <img src="hello.png"/>
      <h1 class="center">Congratulations@(!String.IsNullOrEmpty(_userName) ? ", " + _userName : "")!</h1>
      <p class="center">Your app is running in your @(GetEnvironmentName())</p>

        <FluentTabs style="width: 100%; justify-content: center">

          <FluentTab Label="Chart" id="tab-1" Style="width: 100px">Chart</FluentTab>
          <FluentTab Label="Legend" id="tab-2" Style="width: 100px">Legend</FluentTab>
          <FluentTab Label="Build" id="tab-3" Style="width: 100px">Build</FluentTab>
          <FluentTab Label="Deploy" id="tab-4" Style="width: 150px">Provision and Deploy</FluentTab>
          <FluentTab Label="Publish" id="tab-5" Style="width: 100px">Publish</FluentTab>

          @* The TabPanel below are in order of the FluentTabs declaration from above. *@
          <FluentTabPanel>
            <NikoNiko/>
          </FluentTabPanel>

        <FluentTabPanel>
            <NikoNikoLegend/>
          </FluentTabPanel>

          @* These are part of the default template *@
        <FluentTabPanel>
            <div style="display: block; width: 100%;">
              <EditCode/>
              @if (_isInTeams)
              {
                <CurrentUser UserName="@_userName"/>
              }
              <Graph ErrorMessage="@_errorMessage"/>
            </div>
          </FluentTabPanel>
        <FluentTabPanel>
            <Deploy/>
          </FluentTabPanel>
        <FluentTabPanel >
            <Publish/>
          </FluentTabPanel>

        </FluentTabs>
    </div>
  </div>


}
