@page "/about"
@using NikoNikoTeams.Components;





<a target="_blank" href="https://icons8.com/icon/2s4CNgtV9TZg/neutral-face">Neutral Face</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>


@model NikoNikoTeams.Pages.AboutModel
@{
}
